/* You can add global styles to this file, and also import other style files */
$fa-font-path: "../node_modules/font-awesome/fonts";

body{
    font-family: 'Roboto', sans-serif;
    color: #999999;

}
html{
  font-size: 65%;
}

@media screen and (max-width: 640px){
  html{
    font-size: 50%;
  }
}

@media screen and (min-width: 1200px){
  html{
    font-size: 70%;
  }
}

@media screen and (min-width: 1460px){
  html{
    font-size: 85%;
  }
}
a{
  text-decoration-style: none;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
